
.navbar {
    background-color: #a80c0d;
}



.quiz-intro-page {
    /* display: none; */

}

.quiz-question-page {
    /* display: none; */

}

.timer {
    margin: 0 auto 40px auto;
    max-width: 350px;
    text-align: center;
    font-size: 36px;
}

.progress {
    margin: 0 auto;
    width: 200px;
    height: 20px;
}


.answer-button {
    background-color: #164883;
}